
body{
	margin: 0;
	padding: 0;
}



.axis_background rect.nightmode{
 fill: #333 !important;
}

svg{
	margin-top: 10px;
	margin-left:10px;
	/*border:1px solid black;*/
}

.grid line{
	stroke-width:2px;
	stroke: #f3f3f3;
}

circle.nightmode,rect.nightmode, text.nightmode{
 fill: white !important;
}
body.nightmode, section.nightmode{
 background-color: #333 !important;
}
section.nightmode h1{
 color: #fff;
}

section{
  background-color: #fff;

}

line.activity{
  stroke-width:0.2px;
  opacity: 0.3;
 /*stroke: #f3f3f3;*/
}

line.activity.anonymous{
 stroke-width:0.2px;
 /*visibility: hidden;;*/
 stroke: blue;
}


.axis--x path {
  display: none;
}

.labels{
 font-size: 10px;
 font-weight: 600
}

.axis path.domain{
	stroke: #d3d3d3 !important;
}

.majorityline path.domain{
	display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width:2.3px;
  cursor: pointer;
}

.legend .labels{
	font-family: sans-serif;
	letter-spacing: 0.3px;
}

.legend .cls{
	cursor: pointer;
}